body {
    background-image: url("Assets/Images/background.jpg");
    min-height: 100%;
}

/* Navigation Bar */

nav {
    background-color: white;
    border: 0px;
    border-bottom: 2px;
    border-color: #eee;
    border-style: solid;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    padding: 40px;
    margin-left: 30px;
    background: orange;
    color: white;
    font-weight: 800;
    height: 80px;
    font-size: 1.8em;
    font-family: 'Castoro';
    letter-spacing: 0.025em;
    line-height: 0%;    
}

.navbar-brand:hover {
    color: darkorange;
}

.nav-link {
    color: rgb(187, 187, 179);
    float: left;
}

.nav-link:hover{
    color: darkorange;
}

/* Content style shared through the website */

.container {
    background-color: white;
    float: left;
    position: absolute;
    left: 50px;
    top: 100px;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}

/* Content title */

h1 {
    width: 100%;
    height: 80px;
    padding: 50px;
    padding-left: 0;
    border:0;
    border-bottom: 3px;
    border-color:rgb(187, 187, 179);
    border-style: solid;
    font-weight: 800;
    font-size: 1.8em;
    font-family: 'Castoro';
    letter-spacing: 0.025em;
    line-height: 60%;
    color: orange;
}

/* Index.html specific styling */

.col-sm-12 {
    margin-top: 20px;
}

.profileDescription {
    line-height: 3em;
    color: rgb(165, 165, 159);
    font-weight: 400;
    margin-top: 0px;
    margin-left: 20px;
}

.profilePicture {
    display: block;
    float: left;
    width: 50%;
    margin-right: 20px;
}

/* Footer style and position, maintained trough the website */

footer {
    position: absolute;
    bottom: 0px;
    width:100%;
    height: 80px;
    background-color: rgb(170, 170, 168);
    border: 0px;
    border-top: 6px;
    border-color: orange;
    border-style: solid;
}

h6 {
    color: rgb(212, 212, 209);
    text-align: center;
    line-height: 76px;
    font: 100;
    font-size: x-small;
    letter-spacing: -0.08em;
}

/* Breakpoint at 768px to change the navigation bar, content container size and profile picture 
note: the nav bar styling needs to change at 768px not 640px due to the length of the name*/

@media only screen and (max-width: 768px) {
    .navbar-brand {
      width: 100%;
      margin-right: 0px;
      text-align: center;
      margin-left: 0;
   }
   .navbar {
       padding: 0px;

   }
   .navButtons {
       margin: auto;
   }
   .container {
       top: 140px;
       bottom: 20px;
       right: 20px;
       left: 20px;
   }

   .profilePicture {
    width: 100%;
}
}


