body {
    background-image: url("Assets/Images/rm31-jj-03-g-fabric_1.jpg");
    width: 100%;
    position: relative;
    padding-bottom: 82px;
}

nav {
    background-color: white;
    border: 0px;
    border-bottom: 2px;
    border-color: #eee;
    border-style: solid;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding: 40px;
    background: orange;
    color: white;
    font-weight: 800;
    height: 80px;
    font-size: 1.8em;
    font-family: 'Castoro';
    letter-spacing: 0.025em;
    line-height: 0%;
}

.navbar-brand:hover {
    color: darkorange;
}
.nav-link {
    color: rgb(187, 187, 179);
    float: left;
}

.nav-link:hover{
    color: darkorange;

}

.container {
    background-image: url("Assets/rm31-jj-03-g-fabric_1.jpg");
    width: 100%;
    height: 100%;
}

h1 {
    width: 80px;
    border-bottom: 2px;
    border-color: #eee;
    border-style: solid;
    font-family: 'Castoro';
    color: orange;
}

p {
    padding: 200px;
    line-height: 2em;
    text-align: justify;
}

footer {
    height: 82px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(170, 170, 168);
    border: 0px;
    border-top: 6px;
    border-color: orange;
    border-style: solid;

}

h6 {
    color: rgb(212, 212, 209);
    text-align: center;
    line-height: 76px;
    font: 100;
    font-size: x-small;
    letter-spacing: -0.08em;
}


@media only screen and (max-width: 768px) {
    .navbar-brand {
      width: 100%;
      margin-right: 0px;
      text-align: center;
   }
   .navbar {
       padding: 0px;
   }
   .navButtons {
       margin: auto;
   }
}